$def with (form)
    $if not form['hidden'].attrs['submitted']:
        <h2>Add a word to the list of interesting ones</h2>
        $if not form.valid:
            <p class="error">Try again</p>
        <form name="main" method="post">
        $:form.render()
        <input type="submit" value="submit" />
        </form>
    $else:
        <h2>Word added</h2>
        <p>
        $form['word'].value has been succesfully added
        </p>
        <p>Click <a href="addword">here</a> if you want to add another one</p>
