<html>
  <head>
    <title>bayesfor</title>
  </head>
  <body>
    <h1>bayes-swarm test</h1>
    <h2>tables</h2>
    <a href='words'>words</a><br>
    <a href='pages'>pages</a><br>
    <a href='sources'>sources</a><br>
    <a href='int_words'>list interesting words</a> (<a href='addword'>add word</a>)<br>

    <h2>queries</h2>
    <a href='most_5_words'>most 5 popular words with date and page</a><br>
    <a href='own_query'>my own query</a><br>

    <h2>graphs</h2>
    <a href='plot_time_series'>time series plot</a><br>
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script><script type="text/javascript">_uacct = "UA-2429415-1";urchinTracker();</script>
  </body>
</html>
