$def with (data)
<h2>What is Bayes-Swarm?</h2>

<p>Bayes-Swarm is a research project which aims to build an engine that will spider web sources (such as news portals, blogs and 
online newspapers) and extract correlations between such sources.</p>

<p>The engine will search correlations both in space (correlation among different sources) and time (correlation between the 
contents of a same source in different instant of times). Probabilistic theory and bayesian models will be used to extract such 
correlations.</p>

<p>The engine will extract relevant informations from correlation analysis, such as quantitative measurement of difference in 
opinions among sources which deal with the same argument.</p>

<h2>What has Bayes-Swarm found so far?</h2>

<p>There are currently $data['n_int_words'] interesting words in the database (<a href="int_words">full list here</a> or <a 
href="addword">add a new one</a>!). Since project's start we found $data['n_words'] occurrences of these words on these <a 
href="pages">pages</a> which belong to these <a href="sources">sources</a>.

<h2>What next?</h2>

<p>For a closer look, please have a look at <i>queries</i> and <i>graphs</i> sections.</p>
