.qs-form {
  border: 1px dotted #999;
  padding: 5px;
  font-size: 120%;
}

.qs-form INPUT {
  font-size: 120%;
}

.qs-description {
  color: #999;
  font-size: 80%;
}

.qs-analysis {
  margin-bottom: 5px;
  padding: 5px;
  border: 1px dotted #999;
}

.qs-analysis-graph {
  width: 600px;
  height: 200px;
  float: left;
}

.qs-analysis-action {
  float: right;
  width: 250px;
}

.qs-icon-box {
  width: 20px; 
  height: 20px;
}

.qs-icon {
  margin: 2px;
}

# Autocompleter
# -------------
.autocomplete-w1 { background:url(../images/ac_shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }