.qs-form {
  padding: 5px;
  font-size: 120%;
}

.qs-form INPUT {
  font-size: 120%;
}

.qs-form LABEL {
  margin: 0 4px;
}

.qs-form P {
  margin: 0;
}

.qs-description, .qs-legend {
  color: #999;
  font-size: 80%;
}

.qs-analysis {
  margin-bottom: 5px;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;  
  border: 1px solid #aaa
}

.qs-analysis-graph {
  width: 600px;
  float: left;
}

.qs-analysis-action {
  float: right;
  width: 250px;
}

.qs-icon-box {
  width: 20px; 
  height: 20px;
}

.qs-icon {
  margin: 2px;
}

.qs-link {
  text-decoration: underline;
  cursor: pointer;
  color:#1666a3;
}

.qs-link:hover {
  color:#0b4775;
}

.qs-chart {
  cursor: pointer;
  width: 130px;
  margin-left: 2px;
  float: left;
  border: 1px solid #fff;
}

.qs-chart-selected, .qs-chart:hover {
  border: 1px solid #aaa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: rgb(232, 244, 255);
}

#qs-chart-description {
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: rgb(232, 244, 255);
  padding: 5px;
  width: 250px;
  margin-left: 5px;
}

.qs-form-controls {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-top: 5px;  
  padding: 2px;
  border: 1px solid #aaa;
}

.qs-form-control {
  margin: 3px 0;
}

.qs-hint {
  font-size: 10px;
  color: #999;
  padding-left: 2px;
}

.qs-link-csv {
  font-size: 10px;
  margin-left: 5px;
}

#qs-analysis-btn {
  width: 100px;
  height: 30px;
  font-weight:bold;
}

.qs-logo {
  margin: 0 70px;
  padding: 3px; 
  background: #fff; 
  border: 1px solid #d1d1d1;
}

.qs-language-switch {
  float:right;
  font-size: 11px;
  color: #fff;
}

.qs-current-language {
  border: 2px solid #fff;
  vertical-align: middle;
}

.qs-other-language {
  border: 2px solid transparent;
  vertical-align: middle;
}

#logo {
  width: 500px;
}

/* Autocompleter */
.autocomplete-w1 { background:url(../images/ac_shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }