/* Header bar */
.bayes-header H1 {
	padding: 0;
	margin: 0;
	color: #fff;
	display: inline;			
}

.bayes-header-logo-bar A {
	color: #fff;
	text-decoration: none;
}

.bayes-header H2 {
	padding: 0;
	margin: 0;
	color: #000;
	font-size: 90%;
	font-weight: normal;
}

.bayes-beta {
	color: #FCFEA2;
}

/* Header tabs */
UL.bayes-tabs {
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0;
}

UL.bayes-tabs LI {
	display: inline;
	border-bottom: 5px solid transparent;
	margin: 0;
	padding: 0em 0.5em;
}

UL.bayes-tabs LI A, UL.bayes-tabs LI A:hover, UL.bayes-tabs LI A:visited {
	text-decoration: none;
	font-size: 80%;
	color: #fff;
}

UL.bayes-tabs LI:hover {
	border-bottom: 5px solid #3452E2;			
}

UL.bayes-tabs LI.bayes-tab-selected {
	border-bottom: 5px solid #FCFEA2;
}

/* HTML Headers */
.bayes-sidebar H1 {
	font-size: 120%;
	color: #265ED8;	
	margin: 0.3em;		
}

.bayes-sidebar H2 {
	font-size: 110%;
	color: #265ED8;
	margin: 0.3em;	
}

.bayes-sidebar H3,
.bayes-sidebar H4,
.bayes-sidebar H5 {
	font-size: 100%;
	color: #265ED8;
	margin: 0.3em;	
}

.bayes-main-contents H1 {
	font-size: 140%;
	margin: 0.2em 0 0 0;
	padding: 0;
}

.bayes-main-contents H2 {
	font-size: 120%;
	margin: 0;
	padding: 0;	
}

.bayes-main-contents H3,
.bayes-main-contents H4,
.bayes-main-contents H5 {
	font-size: 105%;
	margin: 0;
	padding: 0;
}

/* Links */
.bayes-main-contents A,
.bayes-sidebar A,
.bayes-main-contents #page__revisions A {
	color: #265ED8;
}

.bayes-main-contents A:visited,
.bayes-sidebar A:visited,
.bayes-main-contents #page__revisions A:visited {
	color: #13398C;
}

.bayes-main-contents A.wikilink2,
.bayes-sidebar A.wikilink2,
.bayes-main-contents #page__revisions A.wikilink2 {
	color: #0B7812;	
}

.bayes-main-contents H1 A,
.bayes-main-contents H2 A,
.bayes-main-contents H3 A,
.bayes-main-contents H4 A,
.bayes-main-contents H5 A {
	color: #000;
}

.bayes-main-contents A.urlextern,
.bayes-sidebar A.urlextern {
	background: transparent url(images/link_icon.gif) 0px 1px no-repeat;
	padding: 1px 0px 1px 16px;
}

.bayes-main-contents A.mail,
.bayes-sidebar A.mail {
  background: transparent url(images/mail_icon.gif) 0px 1px no-repeat;
  padding: 1px 0px 1px 16px;
}

.bayes-actions A {
	color: #aaa;
}

.bayes-actions A:visited {
	color: #999;
}

.bayes-actions A:hover {
	color: #265ED8;
}

.bayes-breadcrumbs A.breadcrumbs {
	color: #fff;
}

/* Paragraphs, Lists */
.bayes-main-contents P,
.bayes-main-contents UL,
.bayes-sidebar P,
.bayes-sidebar UL {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

/* Preformatted code */
.bayes-main-contents PRE.code {
	background-color: #eee;
	border: 1px dotted #ccc;
}

.bayes-main-contents PRE.file {
	background-color: #B4DEB7;
	border: 1px dotted #509155;
}

/* Images */
.bayes-main-contents IMG,
.bayes-footer IMG {
	border: 0;
}

/* Tables */
.bayes-main-contents TABLE {
	border: 1px dotted #ddd;
}

.bayes-main-contents TABLE TH {
	background-color: #ccc;	
	font-weight: bold;
	color: #265ED8;
	border-bottom: 1px solid #ccc;
}

.bayes-main-contents TD {
	background-color: #ddd;
	border-bottom: 1px solid #ccc;	
}

/* Citations */
.bayes-main-contents BLOCKQUOTE {
	border-left: 2px solid #265ED8;
	margin-left: 0;
	padding-left: 0.2em;
}

/* Forms */
.bayes-main-contents LABEL.block {
  display: block;
  text-align: right;
  font-weight: bold;
}

.bayes-main-contents LABEL.block INPUT.edit {
	width: 50%;
}

.bayes-main-contents FIELDSET {
	margin: auto;
	width: 400px;
}

/* Tables of contents */
.bayes-main-contents DIV.toc {
	background-color: #eee;
	border: 1px solid #ccc;
	font-size: 85%;
	width: 80%;
}

.bayes-main-contents A.toc {
	color: #265ED8;
}

.bayes-main-contents UL.toc {
	margin: 0;
}

.bayes-main-contents DIV.tocheader {
	background-color: #ddd;
	border-bottom: 1px solid #ccc;
}

/* Input Fields */
/* nice alphatransparency background except for IE <7 */
html>body .bayes-main TEXTAREA.edit {
  background:  #fff url(images/inputshadow.png) repeat-x top;
  width: 80%;
}

.bayes-main input.edit,
.bayes-main select.edit {
  font-size: 100%;
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
  vertical-align: middle;
  margin: 1px;
  padding: 0.20em 0.3em;
  display: inline;
}

/* nice alphatransparency background except for IE <7 */
html>body .bayes-main input.edit,
html>body .bayes-main select.edit {
  background:  #fff url(images/inputshadow.png) repeat-x top;
}

.bayes-main select.edit {
  padding: 0.1em 0;
}

.bayes-main input.missing {
  font-size: 100%;
  border: 1px solid #000;
  color: #000;
  background-color: #ffcccc;
  vertical-align: middle;
  margin: 1px;
  padding: 0.20em 0.3em;
  display: inline;
}

.bayes-main input.button,
.bayes-main button.button,
.bayes-main .toolbutton {
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
  vertical-align: middle;
  text-decoration: none;
  font-size: 100%;
  cursor: pointer;
  margin: 1px;
  padding: 0;
}

/* nice alphatransparency background except for IE <7 */
html>body .bayes-main input.button,
html>body .bayes-main button.button,
html>body .bayes-main .toolbutton {
  background:  #fff url(images/buttonshadow.png) repeat-x bottom;
}

* html .bayes-main input.button,
* html .bayes-main button.button,
* html .bayes-main .toolbutton {
  height: 1.8em;
}

.bayes-main div.secedit input.button {
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
  vertical-align: middle;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 10px;
  cursor: pointer;
  float: right;
  display: inline;
}

/* disabled style - not understood by IE */
.bayes-main textarea.edit[disabled],
.bayes-main textarea.edit[readonly],
.bayes-main input.edit[disabled],
.bayes-main input.edit[readonly],
.bayes-main select.edit[disabled] {
  background-color: #eee;
  color: #777;
}

/* nice alphatransparency background except for IE <7 */
html>body .bayes-actions A.edit {
  padding: 0.125em 0em 0.125em 18px;
  background: transparent url(images/UWEB.png) no-repeat left bottom;
}

.bayes-main .editButtons,
.bayes-main .summary {
	display: inline;
}

/* searches */
.search_hit {
	background: #ff9;
}

.ajax_qsearch {
	background-color: #eee;
	color: #000;
}

.ajax_qsearch UL {
	padding-bottom: 0.5em;
}

.bayes-search FORM {
	display:inline; /* prevents an extra new-line */
}

/* Footer */
.bayes-footer A {
	color: #fff;
}

.bayes-main .footnotes {
	border-top: 1px dotted #ccc;
	font-size: 85%;
}

.insitu-footnote {
	background-color: #265ED8;
	color: #fff;
	border: 1px solid #ccc;
	padding: 0.2em;
	font-size: 80%;
}

/* Diff rendering */
.bayes-main table.diff {
  background-color: #fff;
  width: 100%;
}
.bayes-main table.diff td.diff-blockheader {
  font-weight: bold;
}

.bayes-main table.diff th {
  border-bottom: 1px solid #aaa;
  font-size: 120%;
  width: 50%;
  font-weight: normal;
  text-align: left;
}
.bayes-main table.diff td {
  font-family: monospace;
  font-size: 100%;
}
.bayes-main td.diff-addedline {
  background-color: #ddffdd;
}
.bayes-main td.diff-deletedline {
    background-color: #ffffbb;
}
.bayes-main td.diff-context {
    background-color: #fff;
}
.bayes-main table.diff td.diff-addedline strong,
.bayes-main table.diff td.diff-deletedline strong {
    color: red;
}

/* Preview pane */
.preview {
	background-color: #DDE9FF;
	border: 1px dotted #265ED8;
	padding: 0.5em;
}

/* Search results */
.bayes-main .search_result {
	font-size: 120%;
	padding-bottom: 0.5em;
}

.bayes-main .search_snippet {
	color: #aaa;
	font-size: 80%;
}
.bayes-main .search_cnt {
	font-weight: bold;
}

.bayes-main .search_quickresult {
	display: none;
}

/* Blog, discussion and other feed-based pages */
.bayes-main .hfeed .hentry {
	background-color: #fff;
	border: 1px solid #265ED8;
	margin: 0.5em;
	padding: 0.5em;
}

.bayes-main .hfeed .hentry H2 {
	background: transparent url("./images/header_gradient_2.png") repeat-x top left;
	margin: 0;
	padding: 0.2em;
}

.bayes-main .hfeed .hentry H2 A {
	color: #fff;
}

.bayes-main .comment_wrapper P {
	margin: 0;
}

.bayes-main .comment_wrapper .hentry {
	padding: 0 0.5em 0 0;
}

.bayes-main .comment_replies .hentry {
	background-color: #DDE9FF;
}
