     <% intwords.sort_by { |w| w[:name] }.each do |w| %>
      <%= content_tag('a', w.name, :style =>
        font_size_for_tag_cloud_new( w.attributes[@attr].to_f,
          intwords.last.attributes[@attr].to_f,
          intwords.first.attributes[@attr].to_f),
          :href => ["../intword/show/", w.id].join ) %>
     <% end %>
