<h1>Search for a word</h1>

<% if flash[:notice] -%>
  <div id="notice"><%= flash[:notice] %></div>
<% end -%>

<% form_tag :action => 'find' do %>
  <%= render :partial => 'form_search', :locals => {:advanced => true} %>
  <%= submit_tag "Search" %>
<% end %>
