<h1>Show Interesting word</h1>

<p align="center">
    <img src="<%= iwid = @intword.id
                  url_for( :controller => 'intword', 
                           :action => 'plot', 
                           :id => iwid) %>" />
</p>

<p><b>Name:</b> <%= @intword.name %></p>
<p><b>Language:</b> <%= @intword.language.language %></p>
