<% content_for :intro do %>
  <h2>Welcome to Bayes-Swarm</h2>
  <p class="intro">
    <strong>BayesFor</strong> is a non-profit organization formed by a group of 
    researchers whose purpose is to promote the understanding and adoption of 
    statistical analysis. BayesFor performs research, analysis and 
    consulting services in various fields of applied research.<br />
    <strong>Bayes-Swarm</strong> is a dedicated tool you can use to track
    people popularity, events and media topics.
  </p>  
<% end %>
<ul class="columns">
  <li class="col1">
    <h3>Analyze</h3>
    <p>
      Do you want to track media trends, people popularity and hot topics
      discussed in the news? Do you want to create your personal visualizations
      and aggregate news data into meaningful graphs? Use Bayes-Swarm to analyze
      news data.
    </p><p>
      <%= link_to "Find out more", :controller => 'intword', :action => 'create' %>
    </p>   
  </li>
  <li class="col2">
    <h3>Learn</h3>
    <p>
      Do you want to learn more about what BayesFor does, how we collect our data,
      the results we published in the past and where we are headed for the future?
      Check our organization site, wiki and official blog.
    </p><p>
      <a href="http://www.bayesfor.eu" >Find out more</a>
    </p> 
  </li>
  <li class="col3">
    <h3>Get Involved</h3>
    <p>
      Do you have some basic programming skills? Are you interested in
      the field of information retrieval and content analysis? Bayes-Swarm offers
      many resources to you: datasets, algorithms, open source code and documentation
      to reuse Bayes-Swarm data or start collecting your own. 
    </p><p>
      <%= link_to "Find out more", :controller => 'info', :action => 'developers' %>
    </p> 
  </li>
</ul>
<div class="clear" /> 
<div class="shadow">
  <img src="/images/image5.jpg" alt="image.jpg" title="image.jpg" class="qs-logo" />
</div>