<p style="font-size: 80%; font-family: sans-serif; padding:0; margin: 0">::
	<a href="<%= url_for :controller => "ig" , :action => "elections" %>?party=<%= @party %>">Back to Pie Chart</a> ::
	<a href="<%= url_for :controller => "intword", :action => "show", :id => @iw_id , :period => @period %>" target="_blank">Explore in BayesFor</a> ::
</p>
<%= @ofcgraph %>
