     <% intwords.sort_by { |w| w[:name] }.each do |w| %>
      <%= content_tag('a', w.name, :style =>
        font_size_for_tag_cloud_new( w.intword_statistic.imp,
          intwords.last.intword_statistic.imp,
          intwords.first.intword_statistic.imp),
          :href => ["../intword/show/", w.id].join ) %>
     <% end %>
