<h1>Interesting words cloud</h1>

<div id="stem_cloud">
  <%= render :partial => "cloud", :locals => { :intwords => @intwords } %>
</div>

<p>
  <%= link_to "New intword", { :controller => "intword",
                               :action => "new",
                             } %>
</p>
