<% content_for :intro do %>
  <h2>Welcome to Bayes-Swarm</h2>
  <p class="intro">
    <strong>BayesFor</strong> is a non-profit organization formed by a group of 
    researchers whose purpose is to promote the understanding and adoption of 
    statistical analysis. BayesFor performs research, analysis and 
    consulting services in various fields of applied research.<br />
    <strong>Bayes-Swarm</strong> is a dedicated tool you can use to track
    people popularity, events and media topics.
  </p>  
<% end %>