<h1>admin page</h1>

<ul>
<li><%= link_to('translate new strings', {:controller=>'admin/translate'}) %></li>
<li><%= link_to('review old translatiosn', {:controller=>'admin/translate', :action=>'old'}) %></li>
</ul>
