<h1>Bayes-Swarm documentation</h1>

<p><font color="red"><b>this section is not complete yet</b></font></p>

<p>Bayes-Swarm is a research project, its aim is to spider
web sources (news portals, blogs and online newspapers)
and extract correlations between such sources.</p>

<h1>Where does development takes place?</h1>

<p>
  <a href="http://bayes-swarm.googlecode.com">bayes-swarm.googlecode.com</a>
</p>
