<html>
 <head>
  <title>Show Interesting word</title>
 </head>
 <body>
 <h1>Show Interesting word</h1>

  <p><b>Name</b><br>
  <%= @int_word.name %>
  </p>
  
  <p><b>Language:</b><br>
  <%= @int_word.language.language %>
  </p>

 <a href="/int_word/edit/<%= @int_word.id %>">
   Edit
 </a> | 
  <a href="/int_word/list">
  Back 
 </a>

 </body>
</html>
