<h1>Ali-Italian Researchers  </h1>
<p> 
    Does anybody care about the fate of thousands of employees of Italian research institutes?
    A comparison with Alitalia story coverage.
</p>
<p>Click on slices of the pie to access coverage data for every thematic issue.</p>

<p align="center">
    <%= @ofcgraph %>

</p>
