<% content_for :title do %>
  Create your analysis
<% end %>
<% content_for :intro do %>
  <h2>Create your analysis</h2>
  <p class="intro">
    Use this page to build your customized analysis, that you can then share with
    your friends and peers.
  </p>
<% end %>
<div id="analysis_container"></div>
<div id="form_container">
  <%= image_tag "spin.gif" %>
</div>
<% content_for :footer do %>
  <script type="text/javascript" charset="utf-8">
    var sources = [{name: "All", id: 0}];
    <% @sources.each do |source| -%>
      sources[sources.length] = {name: "<%= source.name %>", id: <%= source.id %> };
    <% end -%>
    $(document).ready(function() {
      // quasar.setSources(sources);
      quasar.createAnalysisForm($('#form_container'), $('#analysis_container'));
    });
    
    // Load the Visualization API and the relevant packages
    google.load('visualization', '1', {'packages':['annotatedtimeline', 'imagesparkline', 'piechart', 'table']});

    // Set a callback to run when the API is loaded, and enable
    // the analysis form.
    google.setOnLoadCallback(quasar.enableAnalysisForm);      
  </script>
<% end %>