<% content_for :title do %>
  Contatti
<% end %>
<% content_for :intro do %>
  <h2>Contatti</h2>
  <p class="intro">
    Vuoi metterti in contatto con il team BayesFor?
  </p>
<% end %>
<p>
  Ci puoi raggiungere via mail all'indirizzo <a href="mailto:info@bayesfor.eu">info@bayesfor.eu</a>.
</p>
<p>
  Puoi anche dare un'occhiata a <a href="http://www.bayesfor.eu">bayesfor.eu</a>,
  la pagina ufficiale del team, che contiene  
  <a href="http://www.bayesfor.eu/wiki/contatti">informazioni di contatto dettagliate</a>, 
  il <a href="http://www.bayesfor.eu/wiki/team">profilo del team</a> e molte altre informazioni.
</p>