<% content_for :title do %>
  Contacts
<% end %>
<% content_for :intro do %>
  <h2>Contacts</h2>
  <p class="intro">
    Do you want to talk to the BayesFor team?
  </p>
<% end %>
<p>
  You can reach us by mail at <a href="mailto:info@bayesfor.eu">info@bayesfor.eu</a>.
</p>
<p>
  You may also want to take a look at <a href="http://www.bayesfor.eu">bayesfor.eu</a>,
  the official team page, which contains <a href="http://www.bayesfor.eu/wiki/en/contatti">detailed contact info</a>, 
  a <a href="http://www.bayesfor.eu/wiki/en/team">team profile</a> and many more info.
</p>