<h1>admin page</h1>
<h2>translations</h2>
<ul>
 <li><%= link_to('translate new strings', {:action=>'translate_new'}) %></li>
 <li><%= link_to('review old translatiosn', {:action=>'translate_old'}) %></li>
</ul>

