<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Bayes-Swarm - bayesian web spidering by BayesFor</title>
  <%= stylesheet_link_tag "standard", :media => "all" %>
</head>
<body>
<div id="page">
    <div id="sidebar">
    <ul id="sidebar-items">
      <li>
        <h3><%= "Browse the documentation".t -%></h3>
        <ul class="links">
          <li><%= link_to "documentation".t, { :controller => "home", :action => "doc"} %></li>
          <li><a href="http://bayes-swarm.googlecode.com/">development</a></li>
        </ul>
      </li>
      <li>
        <h3>Get in touch</h3>
        <ul class="links">
          <li><a href="http://www.bayesfor.eu">about us</a></li>
          <li><a href="mailto:info@bayesfor.eu">email us</a></li>
        </ul>
      </li>
    </ul>
    </div>

    <div id="content">
        <div id="header">
            <div id="header-langs">
                <% LOCALES.each_pair do |lang, loc| %>
                <%= link_to(image_tag("#{lang}.gif"), {:controller => controller.controller_name, 
                                                         :action => controller.action_name, 
                                                         :locale => lang, 
                                                         :id => params[:id]}) if (Locale.language.code!=lang) %>
                    
                <% end %>
            </div>
            <h1>Bayes-Swarm</h1>
            <h2>bayesian web spidering</h2>
        </div>
        <div>
          <%= path_builder() %>
        </div>

        <div id="getting-started">
            <%= @content_for_layout %>
        </div>
    </div>
    
    <div id="footer">&nbsp;</div>
</div>    
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script><script type="text/javascript">_uacct = "UA-2429415-1";urchinTracker();</script>
</body>
</html>
