<html>
 <head>
  <title>Show Page</title>
 </head>
 <body>
 <h1>Show Page</h1>

  <p><b>Url</b>: <%= @page.url %></p>
  
  <p><b>Source:</b>: <%= @page.source.name %></p>

  <p><b>Kind:</b>: <%= @page.kind.kind %></p>

  <p><b>Language:</b>: <%= @page.language.language %></p>

 <a href="/page/show/<%= @page.id %>">
   Show
 </a> | 
  <a href="/page/list">
  Back 
 </a>

 </body>
</html>
